<ion-view view-title="Login" hide-nav-bar="true" cache-view="false">
  <ion-content has-header="false" class="full-picture">
    <div class="login padding">
      <div class="logo"></div>
      <div class="list list-login">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" id="email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" id="password">
        </label>
      </div>
      <div class="row" style="padding-bottom: 0; margin-bottom: 0">
        <button class="button button-block button-custom button-google" ng-click="password()">Register / Login</button>
      </div>
      <div class="row" style="padding-top: 0; margin-top: 0">
        <button class="button button-block button-custom button-facebook" ng-click="facebook()">
          <i class="ion ion-social-facebook"></i> Login with Facebook
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
