 <ion-modal-view class="color-picker-modal">
    <ion-header-bar class="bar bar-stable">
      <h1 class="title">Choose Color</h1>
    </ion-header-bar>
    <ion-content>
      <div class="row triunlimited-items bg-images">
        <div class="col">
          <a href ng-click="actions.onSelectColor('#29bb9c')">
            <div style="background: #29bb9c; height: 80px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#39cb74')">
            <div style="background: #39cb74; height: 80px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#3a99d9')">
            <div style="background: #3a99d9; height: 80px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#9a5cb4')">
            <div style="background: #9a5cb4; height: 80px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#34495d')">
            <div style="background: #34495d; height: 80px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#229f85')">
            <div style="background: #229f85; height: 80px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#30ad63')">
            <div style="background: #30ad63; height: 80px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#2e81b7')">
            <div style="background: #2e81b7; height: 80px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#8d48ab')">
            <div style="background: #8d48ab; height: 80px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#2c3e4f')">
            <div style="background: #2c3e4f; height: 80px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#f0c330')">
            <div style="background: #f0c330; height: 80px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#e47e30')">
            <div style="background: #e47e30; height: 80px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#e54d42')">
            <div style="background: #e54d42; height: 80px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#ecf0f1')">
            <div style="background: #ecf0f1; height: 80px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#95a5a6')">
            <div style="background: #95a5a6; height: 80px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#f19b2b')">
            <div style="background: #f19b2b; height: 80px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#d15418')">
            <div style="background: #d15418; height: 80px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#be3a30')">
            <div style="background: #be3a30; height: 80px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#bdc3c7')">
            <div style="background: #bdc3c7; height: 80px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#7f8c8d')">
            <div style="background: #7f8c8d; height: 80px"></div>
          </a>
        </div>

      </div>

      <div>
        <button class="button button-full button-dangerous" ng-click="closeModalColor()">Cancel</button>
      </div>
    </ion-content>
</ion-modal-view>