<ion-view view-title="Create a devo">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Verses</span>
        <input placeholder="John 1:1" type="text" ng-model="devo.verse" ng-keyup="search()">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Content</span>
        <textarea placeholder="In the beginning was the Word, and the Word was with God, and the Word was God" ng-model="devo.content" rows="8"></textarea>
      </label>
    </div>
    
    <div class="row">
      <button class="button button-full button-stable" ng-click="next()">
        Next
      </button>
    </div>
    
  </ion-content>
</ion-view>
