<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="My Timeline" cache-view="false">
  <ion-content>
    <div class="image-list">
      <a class="image-item" ng-repeat="timeline in timelines" href="#/tabs/details/{{timeline.id}}">
        <div href class="image-wrap">
          <img ng-src="{{timeline.image}}" alt="">
          <div class="overlay">
            <div class="stat">
              <span>0 <i class="icon ion-ios-heart-outline"></i></span>
              <span>0 <i class="icon ion-ios-chatbubble-outline"></i></span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
