<ion-view view-title="Browse" cache-view="false">
  <ion-content scroll="false">
    <td-cards>
        <td-card ng-repeat="image in images" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="image-{{$index}}" ng-click="changeRoute(image.id)">
          <div class="image-card" ng-controller="CardCtrl">
            <div class="no-text">NOPE</div>
            <img ng-src="{{image.image}}">
            <div class="yes-text">LIKE</div>
          </div>
          <div class="image-author">
            <img ng-src="{{image.user_pp}}">
            <span>{{image.user_name}}</span>
          </div>
        </td-card>
      </td-cards>

      <div class="td-wrap row">
          <div class="col">
            <a href class="td-button">
              <div class="td-button-share">
                <i class="icon ion-android-download"></i>
              </div>
            </a>
          </div>
          <div class="col">
            <a href class="td-button">
              <div class="td-button-love">
                <i class="icon ion-ios-heart-outline"></i>
              </div>
            </a>
          </div>
          <div class="col">
            <a href class="td-button">
              <div class="td-button-next">
              <i class="icon ion-ios-arrow-thin-right"></i>
              </div>
            </a>
          </div>
          <div class="col">
            <a href class="td-button">
              <div class="td-button-share">
                <i class="icon ion-android-share-alt"></i>
              </div>
            </a>
          </div>
      </div>
  </ion-content>
</ion-view>
