<ion-view view-title="My Timeline" cache-view="false">
  <ion-content>
    <div ng-show="empty">
      <div class="list-empty">
        <i class="icon ion-ios-book-outline"></i>
        <div class="empty-desc">
          You don't have any items yet. 
          <div style="margin-top: 10px"><a href="#/tab/create" class="button">create one</a> or <a href="#/tab/browse" class="button">browse</a></div>
        </div>
      </div>
    </div>
    <div class="image-list">
      <a class="image-item" ng-repeat="timeline in timelines" href="#/tab/detail/{{timeline.id}}">
        <div href class="image-wrap">
          <img ng-src="{{timeline.image}}" alt="">
          <div class="overlay">
            <div class="stat">
              <span>0 <i class="icon ion-ios-heart-outline"></i></span>
              <span>0 <i class="icon ion-ios-chatbubble-outline"></i></span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
