<ion-view view-title="Create a devo">
  <ion-content>
    <div class='image-builder-container' style="margin-bottom: 0;">
      <div class='image-builder' parent-click="fabric.deactivateAll()">
          <div class='fabric-container'>
              <canvas fabric='fabric'></canvas>
          </div>
      </div>
    </div>
  
    <div class="colors" ng-if="showColor">
      <div class="row">
        <div class="col">
          <a href ng-click="actions.onSelectColor('#29bb9c')">
            <div style="background: #29bb9c; height: 25px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#39cb74')">
            <div style="background: #39cb74; height: 25px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#3a99d9')">
            <div style="background: #3a99d9; height: 25px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#9a5cb4')">
            <div style="background: #9a5cb4; height: 25px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#34495d')">
            <div style="background: #34495d; height: 25px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#229f85')">
            <div style="background: #229f85; height: 25px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#30ad63')">
            <div style="background: #30ad63; height: 25px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#2e81b7')">
            <div style="background: #2e81b7; height: 25px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#8d48ab')">
            <div style="background: #8d48ab; height: 25px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#2c3e4f')">
            <div style="background: #2c3e4f; height: 25px"></div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href ng-click="actions.onSelectColor('#f0c330')">
            <div style="background: #f0c330; height: 25px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#e47e30')">
            <div style="background: #e47e30; height: 25px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#e54d42')">
            <div style="background: #e54d42; height: 25px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#ecf0f1')">
            <div style="background: #ecf0f1; height: 25px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#95a5a6')">
            <div style="background: #95a5a6; height: 25px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#f19b2b')">
            <div style="background: #f19b2b; height: 25px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#d15418')">
            <div style="background: #d15418; height: 25px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#be3a30')">
            <div style="background: #be3a30; height: 25px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#bdc3c7')">
            <div style="background: #bdc3c7; height: 25px"></div>
          </a>
        </div>
        <div class="col">
          <a href ng-click="actions.onSelectColor('#7f8c8d')">
            <div style="background: #7f8c8d; height: 25px"></div>
          </a>
        </div>

      </div>
    </div>

    <div class="list" style="margin-bottom: 0;">
      <label class="item item-input">
        <span class="input-label">Background</span>
        <button class="button" ng-click="actions.selectColor(0); fabric.setDirty(true); fabric.stopContinuousRendering()">
          <span class="icon ion-paintbucket"></span>
        </button>
        &nbsp;
        <button class="button" ng-click="actions.selectBg()">
          <span class="icon ion-image"></span>
        </button>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Font
        </div>
        <button class="button" ng-click="actions.selectColor(1); fabric.setDirty(true); fabric.stopContinuousRendering()">
          <span class="icon ion-paintbucket"></span>
        </button>
        <select ng-model="fabric.selectedObject.fontFamily" ng-change="changeFont()">
          <option>amsdam</option>
          <option>aqua</option>
          <option>bebas</option>
          <option>besom</option>
          <option>bruss</option>
          <option>cabana</option>
          <option>dense</option>
          <option>refuge</option>
          <option>simplifica</option>
          <option>sunn</option>
        </select>
      </label>
      <!-- <div class="item range range-positive">
        <i class="icon ion-ios-minus-outline"></i>
        <input type='range' min='.1' max='3' step='.1' ng-change='fabric.setZoom()' ng-model='fabric.canvasScale' />
        <i class="icon ion-ios-plus-outline"></i>
      </div> -->
    </div>

    <div class="row">
      <button class="button button-full button-stable" ng-click="next()">
        Next
      </button>
    </div>
  </ion-content>
</ion-view>